venv/
env/
ENV/
virtualenv/
.venv/
.env/
.ENV/

tmp/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.ipynb_checkpoints

.env
*.env
config.ini

.idea/
.vscode/
*.swp
*.swo
.DS_Store

logs/
*.log

.local/
